
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  .container1{
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
    background-color:#eae2e292;
  }
  #btn calculatebtn{
    background-color: rgb(114, 105, 124);
  }